.projects-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.projects-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}



--------------
.projects{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.projects-col{
	flex-basis: 32%
	background: #fff3f3;
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.projects-col{
	width: 100%;
}

.layer{
	background: rgba(226,0,0,0.7)
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.layer:hover{
	background: rgba(226,0,0,0.7);
}